<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Library</title>
</head>
<body>
<h3>Book list</h3>
<form th:action="@{/return}" method="post" th:object="${borrowCode}">
  <input type="number" th:field="*{code}">
  <span><button>Return the book</button></span>
</form>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Action</th>
  </tr>
  <tr th:each="book : ${books}">
    <td th:text="${book.name}"></td>
    <td th:text="${book.description}"></td>
    <td>
      <a th:href="@{view/__${book.id}__}">View book's detail</a>
    </td>
  </tr>
</table>
</body>
</html>